body{
    background-color: rgb(133, 143, 140);
}
:root{
    --background:white;
    --text:black;
}
header{
    background-color: var(--background);
    width: 100%;
z-index: 999;
display: flex;
align-items: center;

}
.logo{
text-decoration: none;
color: blueviolet;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navigation a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    margin-top: -10%;
}
.navigation a :hover{
    color: blueviolet;
}

.yyhyh1{
    width: 100%;
min: height 100vh;
display: flex;

}
.yyhyh2{
    
    border-radius: 10px;

    
}
.divall{
    margin-top: 100px;
}
.ll1{
color: var(--text);
}
.ll0{
    color: var(--text);
}
.ll2{

    color: var(--text);
}
.aaa0{
display: inline-block;

}
.imgg{
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
.page2{
    margin-top: 10px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 40px;
    color: black;
    font-size: 30px;
}